{
   "presets": [
     ["env", {
       "targets": {
         "browsers": ["last 2 versions", "ie >= 10"]
       }
     }],
     "react"
   ],
   "plugins": [
     "transform-react-constant-elements",
     "transform-es2015-modules-commonjs"
   ]
 }
 